# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/sonarlint/issuestore/0/3/0398ccd0f49298b10a3d76a47800d2ebecd49859
/course-planner.iml
/sonarlint/issuestore/index.pb
/jsLinters/jshint.xml
/modules.xml
/prettier.xml
/vcs.xml
